/*ESTILOS PARA EL NAV DEL HEADER*/
.background {
    z-index: 50000;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 7vh;
    background-color: #0f1f52;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
    text-decoration: none;
}
.logo:hover{
    color: #fff;
}
.navigation{
    display:  flex;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 40px;
    background: transparent;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
    text-decoration: none;
}

.expand {
    padding-top: 7px;
    padding-right: 2px;
    width: 130px;
    height: 40px;
}

/*ESTILO PARA CONTENIDO DEL SITIO*/
.contenido{
    position:relative;
    margin: 0%;
    padding: 0%;
}

/*ESTILO PARA PANEL LATERAL DERECHO*/
.filtro{
    color: #fff;
}
#btnFiltro{
    display: none;
}
.container-filtro{
    position: fixed;
    width: 400px;
    height: 100vh;
    top: 65px;
    transition: all 500ms ease;
    z-index: 46000;
    visibility: hidden;
    right: 0px;
}
#btnFiltro:checked ~ .container-filtro{
    opacity: 1;
    visibility: visible;
}
.cont-filtro{
    width: 100%;
    background-color: rgba(13, 28, 75, 0.892);
    backdrop-filter: blur(5px);
    color: #fff;
    height: 100vh;
    padding: 1%;
    position: relative;
    transform: translateX(100%);
    transition: all 500ms ease;
}
#btnFiltro:checked ~ .container-filtro .cont-filtro{
    transform: translateX(0%);
}
.cont-filtro nav{
    transform: translateY(70%);
}
.cont-filtro nav form{
    display: block;
    text-decoration: none;

}
.cont-filtro .closeFiltro{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #D1D4D8;
    cursor: pointer;
    font-size: 30px;
    z-index: 48000;
}

.icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}