/*ESTILOS PARA EL NAV DEL HEADER*/
.background {
  z-index: 5000;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 7vh;
  background-color: #0f1f52;
}

.cabecera-Nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.marcadores{
  margin-left:30px ;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  padding: 8px 12px;
  user-select: none;
}

.logo{
  font-size: 2em;
  color: #fff;
  user-select: none;
  text-decoration: none;
}

.logo:hover{
  color: #fff;
}

.navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .menuDrop{
  width: 130px;
  height: 40px;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  border: none;

}
.navigation .menuDrop:hover{
  background: transparent;
}
.navigation .menuDrop .dropdown-item{
  z-index: 1 !important;
}
/*ESTILO PARA CONTENIDO DEL SITIO*/
.contenido{
  position:relative;
  margin: 0%;
  padding: 0%;
}

.icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fff;
  line-height: 57px;
}

.header-icon {
  padding-right: 5px;
  color: #fff;
}

.filtro{
  cursor: pointer !important;
  margin: 0px;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  padding: 8px 12px;
  user-select: none;
}

.nav-link {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: #2a2a2a;
}