.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-tile {
    z-index: 500 !important;
}

.toasty-bg {
    background: #0f1f52;
}

.pop-up {
    user-select: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}