/* ESTILOS GENERALES */

.button{
  top: 0.75em;
  width: 7em;
  padding: 0.3em;
  background-color: aliceblue;
  border: none;
  border-radius: 7px;
  font-size:1.1em;
  color: #0f1f52;
  transition: 0.5s;
}
.button-Options{
  width: 7em;
  padding: 0.3em;
  border: none;
  border-radius: 7px;
  font-size:1.1em;
  color: #000;
  transition: 0.5s;
  margin-left: 3%;
}

.container-Buttons{
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 3%;
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-end;
}

.create-assignment {
  position: absolute;
  left: 1em;
}
.clean-assignment {
  position:absolute;
  left: 9em;
}
.create-assignment:hover {
  background-color: #e4e5e7;
  color: black;
}
.btnEdit {
  border: 1px solid #FF8B00;
  background-color: transparent;
  color:#FF8B00;
}
.btnDelete {
  border: 1px solid #CF0000;
  background-color: transparent;
  color:#CF0000;
}
.btnEdit:hover {
  background-color: #FF8B00;
  color: #fff;
}
.btnDelete:hover {
  background-color: #CF0000;
  color: #fff;
}

/*DISEÑO DE COMPONENTES DEL FORMULARIO*/
.labelPanel{
  position: relative;
  font-size: 1.1em;
  color: #000;
  text-align: left;
  width: 35em;
  display: block;
  padding-bottom: 1%;
}
.label-Content{
  position: relative;
  font-size: 1.1em;
  color: #494848;
  text-align: left;
  width: 35em;
  display: block;
  padding: 1%;
  margin-bottom: 3%;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
}

/* ESTILOS DEL COMPONENTE SELECT DE REACT-SELECT*/
.css-1u9des2-indicatorSeparator {
  width: 0px !important;
}
.css-13cymwt-control {
  border-color: #00ECE9 !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  background-color:transparent !important;
  border-color:none !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  outline:0!important;
}

.css-t3ipsp-control{
  border-color: #00ECE9 !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  background-color:transparent !important;
  border-color:none !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  outline:0!important;
}
.css-1xc3v61-indicatorContainer::after {
  transition: none !important;
}

.css-1xc3v61-indicatorContainer {
  color: #D1D4D8 !important;
}

.p-object {
  position: relative;
  font-size: 1em;
  color: #fff;
  text-align: left;
  display: block;
  padding-left: 10px;
  padding-bottom: 1.5%;
}

.delete-object {
  color: #D33A3A;
  cursor: pointer;
}